.main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    text-align: center;
    padding: 2rem;
    height: 75vh;
    box-sizing: border-box;
}