<main class="main-about">
    <h1>About this Website</h1>
    <p>When I was younger I often made mini websites with Google Sites or Notion to help out
        some of the students I tutored or taught (within the context of robotics, academic clubs,
        or other programs I volunteered at). I liked having a space to aggregate resources and 
        track progress, and although I love Notion, there were some things I'd wished I could
        personalize. Then I remembered I'm a CS student and I can literally just build a 
        website exactly how I want. So here it is - I'll probably write a blog post about the 
        design and some tools/APIs/libraries I am using/plan to use.
    </p>
    <p>I'm also adding a blog aspect because I love yapping and thinking out loud - this will be 
        a way to organize and share my thoughts, improve my writing skills (I used to be a pretty 
        decent writer before my CS and math coursework took over I promise lol), and help me transition
        into making digital notes for my STEM subject interests and classes.
    </p>
    <p>TL;DR: I wanted a personalized space to experiment, share, and get back into writing—and this is it.
    </p>
</main>
