.main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: 70vh;
  box-sizing: border-box;
}


.typing {
  font-family: Inter, sans-serif;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  width: 1ch;
  background-color: currentColor;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}


.divider {
  border: none;
  border-top: 1px solid #000000;
  margin: 20px auto;
  width: 75%;
}
