<app-dark-mode-toggle></app-dark-mode-toggle>
<main class="main-app">
  <div class="scroll-container">
    <div class="content-intro">
      <h1>
        <span class="typing">{{ displayedTitle }}</span>
        <span class="cursor" *ngIf="showCursor && !typingParagraph"></span>
      </h1>
      <p>
        <span class="typing">{{ displayedParagraph }}</span>
        <span class="cursor" *ngIf="showCursor && typingParagraph"></span>
      </p>
    </div>
    <hr class="divider" />
    <section id="about">
      <app-about></app-about>
    </section>
    <hr class="divider" />
    <section id="projects">
      <app-projects></app-projects>
    </section>
    <hr class="divider" />
    <section id="blog">
      <app-blog></app-blog>
    </section>
    <hr class="divider" />
    <section id="work">
      <app-work></app-work>
    </section>
    <hr class="divider" />
    <section id="contact">
      <app-contact></app-contact>
    </section>
  </div>
</main>
<app-navbar></app-navbar>
<router-outlet />