.main-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.content-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem;
  height: 70vh;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto;
}

.content-intro h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--function-color);
}

.content-intro p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--variable-color);
}

.typing {
  font-family: Inter, sans-serif;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  width: 1ch;
  background-color: currentColor;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


.divider {
  border: none;
  border-top: 1px solid var(--border-color);
  margin: 20px auto;
  width: 75%;
}
