<nav>
  <a pageScroll href="#" (click)="setActiveNav('#')" [class.active]="activeNav === '#'">
    <mat-icon class="icon">home</mat-icon>
  </a>
  <a pageScroll href="#about" (click)="setActiveNav('#about')" [class.active]="activeNav === '#about'">
    <mat-icon class="icon">person</mat-icon>
  </a>
  <a pageScroll href="#projects" (click)="setActiveNav('#projects')" [class.active]="activeNav === '#projects'">
    <mat-icon class="icon">devices</mat-icon>
  </a>
  <a pageScroll href="#blog" (click)="setActiveNav('#blog')" [class.active]="activeNav === '#blog'">
    <mat-icon class="icon">dashboard</mat-icon>
  </a>
  <a pageScroll href="#work" (click)="setActiveNav('#work')" [class.active]="activeNav === '#work'">
    <mat-icon class="icon">work</mat-icon>
  </a>
  <a pageScroll href="#contact" (click)="setActiveNav('#contact')" [class.active]="activeNav === '#contact'">
    <mat-icon class="icon">mail</mat-icon>
  </a>
</nav>