nav {
    background: rgba(0, 0, 0, 0.1);
    width: max-content;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0.7rem 1.7rem;
    z-index: 100;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    border-radius: 3rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: inline-flex;
    color: var(--text-color);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.1) rotate(5deg);
}
