<nav>
  <a href="#" (click)="setActiveNav('#')" [class.active]="activeNav === '#'">
    <mat-icon>home</mat-icon>
  </a>
  <a href="#About" (click)="setActiveNav('#About')" [class.active]="activeNav === '#About'">
    <mat-icon>person</mat-icon>
  </a>
  <a href="#Projects" (click)="setActiveNav('#Projects')" [class.active]="activeNav === '#Projects'">
    <mat-icon>devices</mat-icon>
  </a>
  <a href="#Blog" (click)="setActiveNav('#Blog')" [class.active]="activeNav === '#Blog'">
    <mat-icon>dashboard</mat-icon>
  </a>
  <a href="#Work" (click)="setActiveNav('#Work')" [class.active]="activeNav === '#Work'">
    <mat-icon>work</mat-icon>
  </a>
  <a href="#Contact" (click)="setActiveNav('#Contact')" [class.active]="activeNav === '#Contact'">
    <mat-icon>mail</mat-icon>
  </a>
</nav>