<main class="main-home">
  <div class="content-intro fade-in">
    <h1>Ashley Garcia</h1>
    <p>Hi! I graduated from Columbia University with a B.S. in Computer Science.</p>
    <p>I am currently interested in AI alignment research. I'm also a builder at heart and I love making cool/interactive digital experiences.</p>
    <p>In my free time, I sail (just for fun now, not competitively anymore), make niche playlists on Spotify for my friends, and read up on tech/IP case law.</p>
  </div>
  <hr class="divider" />
  <section id="about">
    <app-about />
  </section>
  <hr class="divider" />
  <section id="projects">
    <app-projects />
  </section>
  <hr class="divider" />
  <section id="research">
    <app-research-preview />
  </section>
  <hr class="divider" />
  <section id="blog">
    <app-blog-preview />
  </section>
  <hr class="divider" />
  <section id="contact">
    <app-contact />
  </section>
</main>
<app-navbar />
