<main class="main-contact">
    <div class="contact-links">
        <a href="mailto:ag4647@columbia.edu" class="contact-item">
            <span class="arrow">&#8594;</span>
            <span class="contact-text">ag4647&#64;columbia.edu</span>
        </a>
<!--        <a href="https://www.instagram.com/ash_grc14/" target="_blank" rel="noopener noreferrer" class="contact-item">-->
<!--            <span class="arrow">&#8594;</span>-->
<!--            <span class="contact-text">instagram</span>-->
<!--        </a>-->
        <a href="https://www.linkedin.com/in/ashley-garcia1" target="_blank" rel="noopener noreferrer" class="contact-item">
            <span class="arrow">&#8594;</span>
            <span class="contact-text">linkedin</span>
        </a>
        <a href="https://github.com/ashleyGarcia0405" target="_blank" rel="noopener noreferrer" class="contact-item">
            <span class="arrow">&#8594;</span>
            <span class="contact-text">github</span>
        </a>
    </div>
    <footer class="copyright">
        <p>developed by Ashley Garcia</p>
    </footer>
</main>
