:root {
    /* light mode colors */
    --background-color: #c6b8a6;
    --text-color: #000000;
}

[data-theme="dark"] {
    /* dark mode colors */
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    height: 100%;
}

.scroll-container {
    margin-top: 50px; 
    background-color: var(--background-color); /* Set your uniform background */
    overflow-y: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
section {
    padding: 100px;
    min-height: 90vh;
    background-color: var(--background-color);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

p {
    font-family: Inter, sans-serif;
    font-weight: 300;
}

html, body { height: 100%; background-color: var(--background-color); }
body { margin: 0; }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
