.main-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 2rem;
    box-sizing: border-box;
    max-width: 700px;
    margin: 0 auto;
}

.main-work h1 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
    text-align: center;
}

.main-work p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}